body {
    background-color: #004FB3;
    font-size: 16px;
   
}

button {
    width: 12em;
    padding: 0.4em 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    background-color: #FFC14F;
    border: none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    border: 2px solid #FFAB0D;
    border-radius: 0.3em;
    font-family: sans-serif;
    
}

button:hover {
    background-color: white;
    color: #FFAB0D;
    
}
button:disabled {
    background-color: grey;
    color: white;
    border: 2px solid whitesmoke;
    opacity: 50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

img.frutas {
    
    width: 100px;
    height: 100px;
}

.frutas {
    margin-left: 1em;
    width: 100px;
    height: 100px;
    background: white;
    float: left;
    margin-right: 1em;
    border-style: solid;
}

#marcador {
    padding: 5em 1em 0.2em 5em;
}

#inferior {
    float:left;
    padding: 2em 1em 1em 0em;
    width: 36em;
}
#inferior button {
    width: 26em;
}
#llista{
    float:left;
    width: 18em;
    color:green;;
    
}
#dreta{
    float:left:
    width: 18em;
}

#central{
  width: 36em;  
  padding: 1em 1em 1em 1em;
   
}
#contador{
    width: 36em;
}
#monedero {
    margin-left: 1em;
    padding: 1em 0.1em 0.1em 2em;
    font-family: monospace;
    font-size: 4em;
    color:whitesmoke;
    text-align: left;
}
#left{
    float:left;
    width:30%;
}
#center{
    float:left;
    width:40%;
}
#right{
    padding: 4em 1em 1em 1em;
    float:left;
    background: #2E2E2E;
}