body {
    background-color: #004FB3;
    font-size: 16px;
    color: #004FB3;
}

button {
    width: 12em;
    padding: 0.4em 1em;
    margin-bottom: 1em;
    margin-right: 1.5em;
    background-color: #FFC14F;
    border: none;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1em;
    border: 2px solid #FFAB0D;
    border-radius: 0.3em;
    font-family: sans-serif;
}

button:hover {
    background-color: white;
    color: #FFAB0D;
}

button:disabled {
    background-color: grey;
    color: white;
    border: 2px solid whitesmoke;
    opacity: 50%;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding: 0em 1em;
    font-family: Consolas, monaco, monospace;
}

#llista {
    float: left;
    width: 18em;
    color: green;
}

img.frutas {
    width: 100px;
    height: 100px;
}

.frutas {
    margin-left: 1em;
    width: 100px;
    height: 100px;
    background: white;
    float: left;
    margin-right: 1em;
    border-style: solid;
}

#panell_play {
    float: left;
    padding: 2em 1em 1em 0em;
    width: 36em;
}

#panell_play button {
    width: 26em;
}


#panell_botons {
    width: 36em;
    padding: 1em 0.1em 1em 0.1em;
}

#contador {
    width: 36em;
}

#monedero {
    margin-left:0.1em;
    padding: 1em 0em 0.1em 0em;
    font-family: Calibri;
    font-size: 4em;
    color: whitesmoke;
    text-align: left;
    letter-spacing: 0.1em;
}

#left {
    float: left;
    width: 30%;
}

#center {
    float: left;
    width: 40%;
}

#right {
    margin-top: 8em;
    padding: 1em 1em 1em 1em;
    float: left;
    background: #2E2E2E;
}